
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Cody Routson | SCHOOL OF EARTH SCIENCES AND ENVIRONMENTAL SUSTAINABILITY| research</title>
	<!-- Built by Joaquin Fox -->
	
	<link rel = "stylesheet" type ="text/css" href="routsonstyle.css">
		<style>

            #page-img {
             	position:relative;
             	display:block;
             	margin:auto;
             	width: 70%;
             	height:30%;
             	padding-top:3%;
          	}
          	
         		#croutson-img {
           			float:left;
           			padding:0.5% 3% 2% 0%;
         		} 
      

           #locallink {
              color:blue;
            }
            
            #optional-img {
              float:left;
              padding-top:1%;
           			padding-right:5%;
           			padding-bottom: 5%;

            } 
            
           .styletag {
                
              font-weight:600;
              font-size:95%;
            }  
            
           #pad-text {
             padding:0% 10% 3% 10%;
                  
            }  
            
       
 

		</style>
</head>

<body>
	<div id = "container">
	  <div class ="banner">
	  	<!--top banner-->
	    <div id ="bannerEl">
	      <span id="nametag"> Cody Routson</span>
	      <p style="text-align:justify; font-size:120%;color:rgb(255,204,153);"> School of Earth Sciences and Environmental Sustainability</p> 
	    </div>
		
	 <span class = "naulogo">
	   <img src ="naulogo.png" alt = "NAU logo" width= 70>
	 </span>
 	    <div id ="menu">
		  <ul>
      <li><a href ="index.html">Welcome</a></li>                                          
      <li><a href ="research.html">Research</a></li>
			   <li><a href ="pictures.html">Pictures</a></li>
 <!--	<li><a href ="code.html">Code</a></li> -->
		   	<li><a href ="curriculumvitae.html">Curriculum Vitae</a></li>	
		  </ul>
        </div>
     </div>
<!--main image -->     
	      <img id="page-img" src ="wood.jpg" alt="">
	<div id="textbody">
	<div id = "pad-text">
        <a style="color:blue" href ="RoutsonCV9Nov2016.pdf"><h2 style ="font-size: 200%;">Curriculum Vitae</h2> </a>
         <h3>Education</h3> 
           <table style ="margin-top:0%;">
                 <tr>
                     <td style="width:25%; padding-right:3%;vertical-align:text-top;"></td> 
                     <td style="width:0%; height:0%;"></td>
                 </tr>
                 
                 <tr>
                     <td style="vertical-align:text-top;">2014</td> 
                       <td>University of Arizona, Tucson, AZ. Ph.D. Paleoclimatology and

                              Geoscience. Minor: Global Change. GPA: 4.0.
                              
                              Advisors: Jonathan Overpeck and Connie Woodhouse
                              
                              Title: <span style ="font-style:italic;">The Context for Megadrought: Multiproxy Paleoenvironmental
                              
                              Perspectives from the South San Juan Mountains, Colorado. </span>
                        </td>
                  </tr>
                  <tr>
                     <td>2006</td> 
                       <td>Prescott College, Prescott, AZ. B.A. Environmental Studies. Minor: Arts and Letters.
                        </td>
                 </tr>
                  <tr>
                     <td>2004</td> 
                       <td>Yavapai College, Prescott, AZ. Transfer: Science, Math, and Spanish.</td>
                 </tr> 
           </table>
      <h3>Appointments</h3>
      <table>
       <tr>
         <td  style="width:35%; padding-right:3%;vertical-align:text-top;"></td>
         <td style="width:0%; height:0%;"><td>
       </tr>
       <tr>
	 <td style="vertical-align:text-top;">2016 - Present</td>
	 <td>Assistant Research Professor. Northern Arizona University. </td>       
      </tr>
       <tr>
        <td>2014 - 2016</td>
        <td>Postdoctoral Research Scholar. Northern Arizona University.</td>
       </tr>
      </table>
           
           
      <h3>Publications</h3>
           <span class ="styletag"> Routson, C. C.,</span> Woodhouse, C. A., Overpeck, J. T., Betancourt, J. L., &amp;
            
            McKay, N. P. (2016). Teleconnected ocean forcing of Western North
            
            American droughts and pluvials during the last millennium.<span style ="font-style:italic;">  Quaternary
            
            Science Reviews,</span> 146, 238-250. 
            <br>
            <br>
            <span class ="styletag">Routson, C. C.,</span>  J. T. Overpeck, C. A. Woodhouse, and W. F. Kenney

            (2016). Three Millennia of Southwestern North American Dustiness and
            
            Future Implications,<span style="font-style:italic;"> PLOS ONE,</span> 11(2), e0149573,
            
            doi:10.1371/journal.pone.0149573.
            <br>
            <br>
            PAGES2k Consortium (<span class ="styletag">Routson</span> one of 114 contributing authors).

            (submitted) A global multiproxy database for temperature reconstructions
            
            of the Common Era.<span style="font-style:italic;"> Manuscript in review at Nature Scientific Data.</span>
           <br>
           <br>
           Kaufman, D.S., Axford, Y.L., Henderson, A.C.G., McKay, N.P., Oswald,

            W.W., Saenger, C., Anderson, R.S., Bailey, H.L., Clegg, B., Gajewski, K.,
            
            Hu, F.S., Jones, M.C., Massa, C.,<span class ="styletag">Routson, C.C.,</span> Werner, A., Wooller,
            
            M.J., Yu, Z., 2016. Holocene climate changes in eastern Beringia (NW
            
            North America) – A systematic review of multi-proxy evidence.
            
            Quaternary Science Reviews, Special Issue: PAST Gateways (Palaeo-
            
            Arctic Spatial and Temporal Gateways) 147, 312–339.
            
            doi:10.1016/j.quascirev.2015.10.021.
            <br>
            <br>
            Briner, J.P., McKay, N.P., Axford, Y., Bennike, O., Bradley, R.S., de

            Vernal, A., Fisher, D., Francus, P., Fréchette, B., Gajewski, K., Jennings,
            
            A., Kaufman, D.S., Miller, G., <span class="styletag">Routson, C.C.,</span> Wagner, B., 2016.
            
            Holocene climate change in Arctic Canada and Greenland. Quaternary
            
            Science Reviews, Special Issue: PAST Gateways (Palaeo-Arctic Spatial
            
            and Temporal Gateways) 147, 340–364.
            
            doi:10.1016/j.quascirev.2016.02.010.
            <br>
            <br>
            Routson, K. J.,<span class ="styletag"> Routson, C. C.,</span> Sheppard, P. (2012). Dendrochronology

            reveals planting dates of historic apple trees in the southwestern United
            
            States. <span style="font-style:italic;">Journal of the American Pomological Society,</span> 66(1), 9-15
            <br>
            <br>
            <span class="styletag">Routson, C. C.,</span> Woodhouse, C. A., Overpeck J. T. (2011). Second

            century megadrought in the Rio Grande headwaters, Colorado: How
            
            unusual was medieval drought? <span style="font-style:italic;">Geophysical Research Letters,</span> 38,
            
            L22703, doi:10.1029/2011GL050015.
                        
            

           
          <h3>Presentations</h3>
              <!--     <img id ="optional-img" src = "images/codyroutson.jpg"  alt="" width ="250" >  -->
        
               Pederson, G.T., Anchukaitis K., St. George, S., McKay, N.,<span class="styletag"> Routson,
    
                C.C.,</span> PAGES NAM2K Group., 2016. Progress towards a tree-ring based
                
                North American 2k summer temperature reconstruction. <span style ="font-style:italic;">AmeriDendro
                
                Talk.</span>
                <br>
                <br>
                <span class ="styletag">Routson, C.C.,</span> 2015. The Megadrought Environment: Using bio- and
    
                geochemical indicators to assess temperature and dust feedbacks during
                
                extreme droughts in the southwest U.S. over the past 2000 years. <span style="font-style:italic;">Northern
                
                Arizona University, Chemistry department colloquium talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Fortin, D., 2015. Stories in the Mud.<span style="font-style:italic;"> Northern Arizona
    
                University, SESES department colloquium talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> 2013. The Context for Megadrought: Multiproxy
    
                Paleoenvironmental Perspectives from the South San Juan Mountains,
                
                Colorado.<span style="font-style:italic;"> University of Arizona, public dissertation defense talk.</span>
                <br>
                <br>
                Addison, J. A., Hayes, S., Sliwinski, M. G., <span class="styletag">Routson, C.C.,</span> Foster, A.
    
                2013. Iron geochemistry of the Medieval Climate Anomaly varve
                
                sequence in Deep Inley, Alaska, using core-scanning XRF, synchrotron µ-
                
                XRF, and µ-XANES spectroscopy. <span style="font-style:italic;">AGU abstract and poster.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Overpeck, J.T. Woodhouse, C. A. 2013. 3000 years of
    
                Southwest Dustiness. <span style="font-style:italic;">University of Arizona, Geodaze talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Overpeck, J.T. Woodhouse, C. A. 2012. A Climate of
    
                Dust: 2500 years of Southwest Dustiness.<span style="font-style:italic;"> AGU abstract and talk.</span>
                <br>
                <br>
                <span class ="styletag">Routson, C.C.,</span> Woodhouse, C.A., Overpeck, J.T. 2012. Second century
    
                megadrought in the Rio Grande headwaters: how unusual was medieval
                
                drought? <span style="font-style:italic;">University of Arizona, Laboratory of Tree Ring Research
                
                colloquium.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Woodhouse, C.A., Overpeck, J.T. 2012. Periods of
    
                unusual aridity in the Southwest United States. <span style="font-style:italic;">University of Arizona,
                
                Earth Week Plenary Session talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Woodhouse, C.A., Overpeck, J.T. 2012. Second century
    
                megadrought in the Rio Grande headwaters: how unusual was medieval
                
                drought? <span style="font-style:italic;">Southwest Climate Workshop, Los Alamos National Laboratory,
                
                Jemez Spings NM, talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.</span> 2011. The Perfect Ocean for Megadrought. <span style="font-style:italic;">University of
    
                Arizona Graduate student research blitz talk.</span>
                <br>
                <br>
                <span class ="styletag">Routson, C.C.,</span> McKay, N.P., Woodhouse, C.A., Overpeck, J.T. 2011. The
    
                Perfect Ocean For Megadrought. <span style="font-style:italic;">AGU abstract and poster.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.,</span> Woodhouse, C.A., Overpeck, J.T., Meko, D.M.,
    
                Betancourt, J., 2010, Characterizing 2,000 years of high elevation climate
                
                variability in the South San Juan Mountains, Colorado. <span style="font-style:italic;">Abstract and talk,
                
                Mountain Climate Research Conference, Blue River, OR.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.</span> 2010. Second Century Drought. <span style="font-style:italic;">University of Arizona,
    
                Geoscience department brownbag talk.</span>
                <br>
                <br>
                <span class="styletag">Routson, C.C.</span> 2009 “Fingerprinting Medieval Climate.” <span style="font-style:italic;">Geodaze talk.</span>
                <br>
                <br>
            
           <h3 style ="margin:0%;">Research Grants</h3> 
               <table style ="margin-top:0%;">
                     <tr>
                         <td style="width:8%;">2016</td> 
                         <td style="width:15%; height:0%;"><span style="font-style:italic;">The Dust Drought Nexus.</span> Private donor. 2016-21 Co-PI.</td>
                         <td style="width:1%;">  $200.000  </td>
                     </tr>
                     <br>
                     <tr>
                         <td style="vertical-align:text-top;">2016</td> 
                         <td style="font-style:italic;">Synthesis of Holocene proxy climate records from western North America</span>,
                            2016-19; NSF Paleo Perspectives on Climate Change. Co-PI.</td>
                        <td style="vertical-align:text-top;">$481,822</td>    
                      </tr>
                      
               </table>
               <br>
               
           <h3 style ="margin:0px;">Select Scholarships and Awards</h3> 
               <table style ="margin-top:-5%;">
                     <tr>
                         <td style="width:8%;vertical-align:text-top;">2014</td> 
                         <td style="width:15%; height:0%;">Bisgrove Postdoctoral Scholar Award.</td>
                         <td style="width:1%;">$200,000</td>
                     </tr>
                     <br>
                     <tr>
                         <td style="vertical-align:text-top;">2013</td> 
                         <td>Best Geodaze Climate Talk Award </td>
                         <td>$250</td>
                      </tr>
                      <br>
                      <tr>
                         <td>2011</td> 
                          <td>Galileo Circle Scholar Award</td>
                          <td>$1,000</td>
                     </tr><br>
                      <tr>
                         <td>2011</td> 
                         <td>Bristlecone Award</td>
                         <td>$1,000</td>
                     </tr> 
                     <tr>
                         <td>2010</td> 
                         <td>Keith Katzer Scholarship Fund</td>
                         <td>$1,500</td>
                     </tr>
                     <tr>
                         <td style ="vertical-align:text-top;">2009-2012</td> 
                         <td>National Science Foundation Graduate Research Fellowship</td>
                         <td>$90,000</td>
                     </tr>
                     <tr>
                         <td>2009</td> 
                         <td>Wilson Thompson Scholarship Fund</td>
                         <td>$1,400</td>
                     </tr>
                     <tr>
                         <td style="vertical-align:text-top;">2009</td> 
                         <td>Colorado Scientific Society Memorial Research Fund</td>
                         <td>$500</td>
                     </tr>
                     <tr>
                         <td style="vertical-align:text-top;">2007-2009</td> 
                         <td>Science Foundation of Arizona, Graduate Fellowship</td>
                         <td>$60,000</td>
                     </tr>
                     <tr>
                         <td>2008</td> 
                         <td>Bert S. Buttler Scholarship Fund</td>
                         <td>$1,500</td>
                     </tr>
               </table>
               <br>
           <h3 style ="margin:0%;">Teaching</h3> 
               <table style ="margin-top:-5%;">
                     <tr>
                         <td style="width:8%;vertical-align:text-top;">2015-2016</td> 
                         <td style="width:18%; height:0%;">Mentor, assisting Dr. McKay in mentoring two of his graduate students
    
                            focusing on Southwestern paleoclimate research projects, NAU</td>
                     </tr><br>
                     <tr>
                         <td style="vertical-align:text-top;">2016</td> 
                           <td>Guest Lecturer, <span style="font-style:italic;">Methods in data analysis,</span> NAU
                            </td></span>
                      </tr><br>
                      <tr>
                         <td style="vertical-align:text-top;">2013</td> 
                           <td>Teaching Assistant, <span style="font-style:italic;">Life on Earth</span> (GEOS 170C), University of Arizona
                            </td>
                     </tr><br>
                      <tr>
                         <td style="vertical-align:text-top;">2013</td> 
                           <td>Guest Panelist/Lecture:<span style="font-style:italic;"> A Geologic Perspective</span> (GEOS 170A1)</td>
                     </tr> 
                     <tr>
                         <td style="vertical-align:text-top;">2012</td> 
                           <td>Teaching Assistant, <span style="font-style:italic;">Oceanography</span> (GEOS 212), University of Arizona</td>
                     </tr>
                     <tr>
                         <td style="vertical-align:text-top;">2012</td> 
                           <td>Mentor, NASA space grant program, University of Arizona</td>
                     </tr>
                     <tr>
                         <td style="vertical-align:text-top;">2011-2012</td> 
                           <td>Mentor, SAGUARO undergraduate program, University of Arizona</td>
                     </tr>
                     <tr>
                         <td style="vertical-align:text-top;">2011</td> 
                           <td>Guest Lecturer: <span style="font-style:italic;">Geography of World Regions</span> (GEOG 251)</td>
                     </tr>
               </table>
           <br>
           <h3 style ="margin:0%;">Media Coverage</h3> 
               <table style ="margin-top:0%;">
                     <tr>
                         <td style="width:8%;vertical-align:text-top;">2011</td> 
                         <td style="width:18%; height:0%;">Colorado Public Radio, Tucson Public Radio, UA News, LA Times, and
                            Arizona Daily Star.</td>
                     </tr>
                     <br>
               </table>
               <br>
           <h3 style ="margin:0%;">Work Experience</h3> 
           <table style ="margin-top:-5%;">
                 <tr>
                     <td style="width:8%;vertical-align:text-top;">2002-2014</td> 
                     <td style="width:18%; height:0%;">Biological consulting including rare plants surveys, rare plants monitoring,
                      tortoise surveys, and rangeland surveys.</td>
                 </tr><br>
                 <tr>
                     <td style="vertical-align:text-top;">2006-2007</td> 
                       <td>Pierce Farms. Skilled labor, construction, and maintenance work.
                        </td></span>
                  </tr>
                  <br>
                  <tr>
                     <td style="vertical-align:text-top;">1996-2005</td> 
                       <td >Routson Company Inc. Carpenter, stonemason, concrete work, crew
                        manager, Prescott AZ.
                        </td>
                 </tr><br>
                  <tr>
                     <td style ="vertical-align:text-top;">2005</td> 
                      <td>Commercial King and Sockeye Salmon fishing, Bristol Bay, AK.</td>
                 </tr> 
                 <tr>
                     <td style ="vertical-align:text-top;">2004</td>
                     <td>Landscaping, Fort Wainwright, Fairbanks Alaska.</td>
                     
           </table>
           <br>
           <h3 style ="margin:0px;">Volunteer</h3> 
           <table style ="margin-top:-5%;">
                 <tr>
                     <td style="width:8%;vertical-align:text-top;">2015</td> 
                     <td style="width:18%; height:0%;">Northern Arizona University Undergraduate Symposium Poster Judge.</td>
                 </tr><br>
                 <tr>
                     <td style="width:8%;vertical-align:text-top;">2010-2011</td> 
                       <td>Invited Blogger: Second Century Southwest Megadrought and:
                        Megadrought: Is the Past a Key to Our Future? Southwest Climate
                        Change Network.
                        </td>
                  </tr>
                  <br>
                  <tr>
                     <td style="width:8%;vertical-align=text-top;">2009</td> 
                       <td>Sonora Mexico Desert Tortoise Project.</td>
                 </tr><br>
                  <tr>
                     <td style="width:8%;vertical-align:text-top;">2008</td> 
                     <td>Arizona Gem and Mineral Show, geologic exhibit for children.</td>
                 </tr> 
                 <tr>
                     <td style="width:8%;vertical-align:text-top;">2002, 2007</td> 
                     <td>Assisted Gary Paul Nabhan with social and environmental initiatives for
                      the Seri Indians, Desemboque and Punta Chueca, Mexico.</td>
                 </tr> 
           </table>
           <br>
             <h3 style ="margin:0px;">Lab Experience</h3> 
               <p>Experience with EDAX micro-X-ray fluorescence analyzers,

                 Mastersizer grain size analyzers, the Stanford Linear Accelerator,
                 
                 biomarker (GDGT/TEX86) extraction and analysis, pretreating and
                 
                 combusting radiocarbon samples, pretreating and picking
                 
                 chironomid samples, resin imbedding sediments, loss on ignition,
                 
                 and methods of dendrochronology.</p>
            <br>   
             <h3 style ="margin:0px;">Analytical Skills</h3> 
              <p> Matlab, Dendrochronology Program Library, Chemstation, Adobe, Office,
               spatiotemporal data analysis methods, time series analysis etc.</p>
            <br>
           <!-- <h3 style ="margin:0px;">Professional References</h3> 
              <p style ="padding-right: 50%;"> Darrell Kaufman, PhD <br>

                School of Earth Science and Environmental Sustainability<br>
                
                Northern Arizona University<br>
                
                PO Box 4099<br>
                
                625 South Knoles Drive<br>
                
                Flagstaff, AZ 86011<br>
                
                (928) 523-7192<br>
                
              <a style="color:blue;"href="">darrell.kaufman@nau.edu</a></p>
                <p style ="padding-right: 50%;">

                Nicholas McKay, PhD<br>

                School of Earth Science and Environmental Sustainability<br>
                
                Northern Arizona University<br>
                
                PO Box 4099<br>
                
                625 South Knoles Drive<br>
                
                Flagstaff, AZ 86011<br>
                
                (928) 523-7192<br>
                
                <a style="color:blue;"href="">nicholas.mckay@nau.edu</a><br>
                </p>
                <p style ="padding-right: 50%;"> Connie Woodhouse, PhD<br>

                Geography and Regional Development<br>
                
                University of Arizona<br>
                
                412 Harvill Building, Box #2<br>
                
                Tucson, AZ 85721<br>
                
                (520) 626-0235<br>
                
                <a style="color:blue;"href="">conniew1@email.arizona.edu</a>
                                <br>
                
               </p>
                <p style ="padding-right: 50%;"> Jonathan Overpeck, PhD<br>

                 The Institute for the Environment, and
                 
                 The Environmental Studies Laboratory<br>
                 
                 University of Arizona <br>
                 
                 Gould-Simpson Room 208<br>
                 
                 Tucson, AZ 85721<br>
                 
                 (520)-622- 9065<br>
                 
                 <a style="color:blue;"href="">jto@email.arizona.edu</a>
                                 <br>
                
               </p> -->
               
               
      </div>
      </div>
      
	<div class="banner">
		<span class = "naulogo">
				<img src ="naulogo.png" alt = "NAU logo" width= 70>
		</span>
	<span id="contact">
			CONTACT <br>
			Cody Routson <br>
			625 South Knoles Drive<br>
			Flagstaff, AZ 86011<br>
			Phone| (928) 899-5086 <br>
			Email | cody.routson@nau.edu <br> 
		</span> 
	</div>
	
</div>
</body>
</html>
