<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>
      Cody Routson | SCHOOL OF EARTH SCIENCES AND ENVIRONMENTAL SUSTAINABILITY|
      research
    </title>
    <!-- Built by Joaquin Fox -->

    <link
      rel="stylesheet"
      type="text/css"
      href="../public/stylesheets/routsonstyle.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/pictures.css" />
  </head>

  <body>
    <div id="container">
      <div class ="banner">
        <!--top banner-->
        <div id ="bannerEl">
          <span id="nametag"> Cody Routson</span>
          <p style="text-align:justify; font-size:120%;color:rgb(255,204,153);"> School of Earth Sciences and Environmental Sustainability</p> 
        </div>
      
        <span class = "naulogo">
          <img src ="../public/images/naulogo.png" alt = "NAU logo" width= 70>
        </span>
         <div id ="menu">
            <ul>
                <li><a href ="../index.html">Welcome</a></li>                                          
                <li><a href ="research.html">Research</a></li>
                <li><a href ="pictures.html">Pictures</a></li>
                <li><a href ="curriculumvitae.html">Curriculum Vitae</a></li>	
            </ul>
        </div>
      </div>

      <div id="textbody" style="text-align: center;">
        <h1>Photo Gallery</h1>
        <span id="subhead">Research Project Photos</span>
        <!--The photo gallery below is where you will paste 'embed'links from flickr-->
        <div id="gallery">
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30254071694/in/album-72157674887492231/"
            target="_blank"
            title="ruin2"
            ><img
              src="https://c7.staticflickr.com/6/5611/30254071694_fa32c37f8d_t.jpg"
              width="100"
              height="75"
              alt="ruin2"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30849897016/in/album-72157674887492231/"
            target="_blank"
            title="foggy"
            ><img
              src="https://c1.staticflickr.com/6/5801/30849897016_e827a159d9_t.jpg"
              width="100"
              height="75"
              alt="foggy"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30254060854/in/album-72157674887492231/"
            target="_blank"
            title="ruin"
            ><img
              src="https://c7.staticflickr.com/6/5676/30254060854_605f1f3e31_t.jpg"
              width="100"
              height="75"
              alt="ruin"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30584740540/in/album-72157674887492231/"
            target="_blank"
            title="carcass"
            ><img
              src="https://c5.staticflickr.com/6/5480/30584740540_1156543987_t.jpg"
              width="100"
              height="75"
              alt="carcass"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30769751552/in/album-72157674887492231/"
            target="_blank"
            title="drymud"
            ><img
              src="https://c1.staticflickr.com/6/5342/30769751552_fafc9ca5ff_t.jpg"
              width="100"
              height="75"
              alt="drymud"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30885996685/in/album-72157674887492231/"
            target="_blank"
            title="dustdevil5"
            ><img
              src="https://c6.staticflickr.com/6/5595/30885996685_fecbf4d38a_t.jpg"
              width="100"
              height="75"
              alt="dustdevil5"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30254043784/in/album-72157674887492231/"
            target="_blank"
            title="dustdevil4"
            ><img
              src="https://c1.staticflickr.com/6/5622/30254043784_b054c7c8d3_t.jpg"
              width="100"
              height="75"
              alt="dustdevil4"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30254038334/in/album-72157674887492231/"
            target="_blank"
            title="dustdevil3"
            ><img
              src="https://c7.staticflickr.com/6/5785/30254038334_d4fb042c98_t.jpg"
              width="100"
              height="75"
              alt="dustdevil3"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30885980615/in/album-72157674887492231/"
            target="_blank"
            title="dustdevil2"
            ><img
              src="https://c8.staticflickr.com/6/5591/30885980615_515ef57b7d_t.jpg"
              width="100"
              height="75"
              alt="dustdevil2"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30769739722/in/album-72157674887492231/"
            target="_blank"
            title="dustdevil"
            ><img
              src="https://c3.staticflickr.com/6/5343/30769739722_df137d3e70_t.jpg"
              width="100"
              height="75"
              alt="dustdevil"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30797498151/in/album-72157674887492231/"
            target="_blank"
            title="research"
            ><img
              src="https://c8.staticflickr.com/6/5656/30797498151_9d73eba023_t.jpg"
              width="100"
              height="75"
              alt="research"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30885967015/in/album-72157674887492231/"
            target="_blank"
            title="sunset2"
            ><img
              src="https://c8.staticflickr.com/6/5604/30885967015_f3ace240e0_t.jpg"
              width="100"
              height="75"
              alt="sunset2"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30849837086/in/album-72157674887492231/"
            target="_blank"
            title="sunset"
            ><img
              src="https://c7.staticflickr.com/6/5442/30849837086_a9cc2bd0ea_t.jpg"
              width="100"
              height="75"
              alt="sunset"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30849826216/in/album-72157674887492231/"
            target="_blank"
            title="coast2"
            ><img
              src="https://c1.staticflickr.com/6/5487/30849826216_99244b72a0_t.jpg"
              width="100"
              height="75"
              alt="coast2"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30250408583/in/album-72157674887492231/"
            target="_blank"
            title="dust"
            ><img
              src="https://c8.staticflickr.com/6/5545/30250408583_57c8eca558_t.jpg"
              width="100"
              height="75"
              alt="dust"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30253984174/in/album-72157674887492231/"
            target="_blank"
            title="river"
            ><img
              src="https://c7.staticflickr.com/6/5331/30253984174_81f453d95b_t.jpg"
              width="100"
              height="75"
              alt="river"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30797442451/in/album-72157674887492231/"
            target="_blank"
            title="patterns"
            ><img
              src="https://c4.staticflickr.com/6/5557/30797442451_66840d6370_t.jpg"
              width="100"
              height="75"
              alt="patterns"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30849785526/in/album-72157674887492231/"
            target="_blank"
            title="tree"
            ><img
              src="https://c7.staticflickr.com/6/5770/30849785526_6d745da7ed_t.jpg"
              width="100"
              height="75"
              alt="tree"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30584658080/in/album-72157674887492231/"
            target="_blank"
            title="coast"
            ><img
              src="https://c1.staticflickr.com/6/5326/30584658080_eb85796db5_t.jpg"
              width="100"
              height="75"
              alt="coast"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30797460181/in/album-72157674887492231/"
            target="_blank"
            title="Untitled"
            ><img
              src="https://c6.staticflickr.com/6/5715/30797460181_7b2583874b_t.jpg"
              width="100"
              height="75"
              alt="Untitled"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30849751686/in/album-72157674887492231/"
            target="_blank"
            title="alaska1"
            ><img
              src="https://c7.staticflickr.com/6/5464/30849751686_5e31e90c93_t.jpg"
              width="100"
              height="75"
              alt="alaska1"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30584590220/in/album-72157674887492231/"
            target="_blank"
            title="alaska"
            ><img
              src="https://c5.staticflickr.com/6/5724/30584590220_3a12d71fb7_t.jpg"
              width="100"
              height="75"
              alt="alaska"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
          <a
            data-flickr-embed="true"
            data-header="true"
            href="https://www.flickr.com/photos/137429136@N08/30797592641/in/album-72157674887492231/"
            target="_blank"
            title="wood"
            ><img
              src="https://c2.staticflickr.com/6/5812/30797592641_9f6fd65239_t.jpg"
              width="100"
              height="75"
              alt="wood"
          /></a>
          <script
            async
            src="//embedr.flickr.com/assets/client-code.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div id="pad-text"></div>
      <!--Bottom banner-->
      <div class="banner">
        <span class="naulogo">
          <img src="naulogo.png" alt="NAU logo" width="70" />
        </span>

        <span id="contact">
          CONTACT <br />
          Cody Routson <br />
          625 South Knoles Drive<br />
          Flagstaff, AZ 86011<br />
          Phone| (928) 899-5086 <br />
          Email | cody.routson@nau.edu <br />
        </span>
      </div>
    </div>
  </body>
</html>
