h1 {
  margin: auto;
  font-size: 500%;
}

#subhead {
  opacity: 0.5;
  text-align: center;
  font-size: 300%;
  font-family: arial;
}

#gallery {
  position: relative;
  border: 1px solid black;
  border-radius: 3%;
  padding: 15% 15%;
  margin-bottom: 10%;
  background-color: rgb(40, 44, 35);
}