body {
  background-color: rgb(250, 250, 255);
  margin: 0;
}

#container {
  font-family: verdana;
}

.banner {
  overflow: hidden;
  color: white;
  background-color: rgb(40, 44, 35);
  position: relative;
  width: 100%;
}

#bannerEl {
  text-align: justify;
  margin-left: 3%;
  float: left;
}

#nametag {
  font-family: 'georgia', times;
  font-size: 500%;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}
#menu {
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  vertical-align: middle;
}
a:link {
  color: rgb(255, 204, 153);
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.naulogo {
  float: right;
  padding: 1%;
}

#textbody {
  line-height: 1.5;
  overflow: hidden;
  background: rgb(255, 255, 250);
  color: rgb(15, 11, 50);
  position: relative;
  display: block;
  margin: auto;
  width: 70%;
  min-height: 60vh;
}
h2 {
  font-family: 'georgia', times;
}

h3 {
  font-family: 'georgia', times;
  font-size: 150%;
}

#contact {
  font-size: 80%;
  position: relative;
  float: left;
  margin-left: 5%;
  margin-top: 2%;
  color: rgb(255, 204, 153);
}

#page-img {
  position: relative;
  display: block;
  margin: auto;
  width: 70%;
  height: 30%;
  padding-top: 3%;
}

#croutson-img {
  float: left;
  padding: 0.5% 3% 3% 0%;
}
#pad-text {
  padding: 0% 5% 0% 5%;
}

@media screen and (max-width: 600px) {
  #bannerEl {
    font-size: 70%;
  }

  .naulogo img {
    width: 30%;
    padding-left: 60%;
  }
  #textbody {
    min-height: 70vh;
    width: 90%;
  }
  #page-img {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
	/* #bannerEl {
	  font-size: 70%;
	} */
  
	.naulogo img {
	  width: 30%;
	  padding-left: 20%;
	}
	/* #textbody {
	  min-height: 70vh;
	  width: 90%;
	} */
	/* #page-img {
	  width: 90%;
	} */
  }
  